@use "../utilities";

.button {
    font-family: utilities.$medium-font;  
    letter-spacing: 0.25px;

    color: utilities.$white;
    background-color: utilities.$color-marine-blue;

    border: none;
    border-radius: utilities.toRem(12);
    
    height: auto;
    width: auto;
    padding: utilities.toRem(12) utilities.toRem(24);
    cursor: pointer;

    transition: all .15s;

    @include utilities.respond-to("large") {
        border-radius: utilities.toRem(8);
    }

    &:hover {
        background-color: utilities.$purplish-blue;
    }

    &:active {
        background-color: utilities.$color-marine-blue-dark;
    }

    &__cont {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: utilities.toRem(50);

        @include utilities.respond-to("large") {
            position: fixed;
            bottom: 0;
            left: 0;  

            margin-top: 0;
            padding: utilities.toRem(18);
            width: 100%;

            box-shadow: utilities.$shadow-light-top;
            background-color: utilities.$alabaster;
        }
    }
}