@use "../utilities";

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: utilities.toRem(20);

    &__label {
        color: utilities.$color-marine-blue;

        padding: 0;

        @include utilities.respond-to("small") {
            font-size: utilities.toRem(16);
            height: 25px;
        }
    }

    &__input {
        border: 1px solid utilities.$light-gray;
        border-radius: utilities.toRem(12);

        background-color: transparent;

        display: inline-block;
        height: auto;
        padding:  utilities.toRem(12);

        &:focus {
            border-color: utilities.$purplish-blue;
            outline: none;
        }

        &::placeholder {
            font-family: utilities.$medium-font;

            color: utilities.$cool-gray;
        }

        &:invalid {
            & + span {
                &::before {
                    content: "Invalid Value (required)";
                    color: utilities.$strawberry-red;

                    @include utilities.respond-to("small") {
                        content: "Invalid (required)";
                    }
                }
            }
        }

        & + span {
            position: relative;
    
            &::before {
                content: "This field is required";
                position: absolute;
                top: -55%;
                right: 0;
    
                text-wrap: nowrap;
                font-family: utilities.$medium-font;
                font-size: max(14px, utilities.toRem(14));
                color: utilities.$color-marine-blue;

                @include utilities.respond-to("small") {
                    font-size: utilities.toRem(14);
                    top: -50%;
                }
            }
        }
    }

    & > div:not(:last-child) {
        display: flex;
        flex-flow: row  wrap;
    }
}