// Fonts

$regular-font: "ubunturegular";
$medium-font: "ubuntumedium";
$bold-font: "ubuntubold";

$light-heading-font: "rubiklight";
$medium-heading-font: "rubikmedium";

// Shadows

$shadow-dark-bottom: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light-bottom: 0 2rem 5rem rgba(0, 0, 0, 0.06);

$shadow-dark-top: 2rem 0 6rem rgba(0, 0, 0, 0.3);
$shadow-light-top: 2rem 0 5rem rgba(0, 0, 0, 0.06);