@use "../utilities";

.main {
    width: min(utilities.toRem(1200), 80vw);
    border-radius: utilities.toRem(24);

    position: relative;
    padding: utilities.toRem(20);
    
    background-color: utilities.$alabaster;
    box-shadow: utilities.$shadow-light-bottom;

    display: grid;
    grid-template-columns: 30% 1fr;

    @include utilities.respond-to("extra-large") {
        width: min(utilities.toRem(1200), 90vw); 
        
        grid-template-columns: 35% 1fr;      
    }

    @include utilities.respond-to("large") {
        position: static;
        width: min(utilities.toRem(600), 90vw);
        grid-template-columns: 1fr;

        margin-bottom: utilities.toRem(85);
    }

    @include utilities.respond-to("small") {
        padding: utilities.toRem(16);
    }

    article {
        padding: utilities.toRem(36) utilities.toRem(80) 0 utilities.toRem(100);

        @include utilities.respond-to("extra-large") {
            padding: utilities.toRem(36) utilities.toRem(50) 0 utilities.toRem(70);
        }

        @include utilities.respond-to("large") {
            padding: utilities.toRem(18) utilities.toRem(16) utilities.toRem(18) utilities.toRem(16);
        }

        @include utilities.respond-to("small") {
            padding: utilities.toRem(12);
        }

        section {
            padding-bottom: utilities.toRem(35);

            h2 {
                font-size: utilities.toRem(36);
                font-family: utilities.$bold-font;
                letter-spacing: 0.5px;
    
                padding-bottom: utilities.toRem(10);
    
                color: utilities.$color-marine-blue;

                @include utilities.respond-to("medium") {
                    font-size: utilities.toRem(32);
                    padding-bottom: utilities.toRem(8);
                }

                @include utilities.respond-to("small") {
                    letter-spacing: 0;
                }            
            }
    
        }
        p {
            color: utilities.$dark-gray;

            @include utilities.respond-to("extra-large") {
                font-size: utilities.toRem(15);
            }

            @include utilities.respond-to("medium") {
                font-size: utilities.toRem(16);
            }
        }
    }

    aside {
        border-radius: utilities.toRem(12);

        background-image: url('../../assets/images/bg-sidebar-desktop.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        position: relative;

        padding: utilities.toRem(20);

        @include utilities.respond-to("extra-large") {
            padding: utilities.toRem(16);            
        }

        @include utilities.respond-to("large") {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            
            width: 100vw;

            padding: utilities.toRem(128) 0;
            border-radius: 0;
            background-image: url('../../assets/images/bg-sidebar-mobile.svg');
            background-size: cover 50%;
        }

        img {
            width: 60%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include utilities.respond-to("extra-large") {
                width: 55%;
            }

            @include utilities.respond-to("large") {
                display: none;
            }
        }
    }

}